<div class="card p-3">
    <div class="form-group">
        <label>First Name</label>
        <input class="form-control" [(ngModel)]="contact.firstName" />
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input class="form-control" [(ngModel)]="contact.lastName" />
    </div>
    <div class="form-group">
        <label>Phone</label>
        <input class="form-control" [(ngModel)]="contact.phone" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" [(ngModel)]="contact.email" />
    </div>
    <button class="btn btn-success mt-2" (click)="save()">Save</button>
    <button class="btn btn-secondary mt-2" (click)="cancel()">Cancel</button>
</div>
